@media only screen and (min-width: 280px) and (max-width: 600px) {
    .navbar{
        display: none;
        
    }
    header .icon{
        display: block;
    }
    .portfoilo h1{
        font-size: 30px;
        width: 312px;
        height: 120px;
    
    }
    header .logo{
        margin-left: -80px;
      }
      
    .portfoilo{
        flex-direction:column-reverse;
    }
    .portfoilo spam{
        color: #FF8A56;
    }
    .portfoilo p{
        margin-bottom: 40px;
        
    }
    .right-img{
        width: 400px;
    }
    .cv-btn{
        display: block;
        margin-top: 50px;
      font-size: 25px;
        
    }
    .btn{
        color: aliceblue;
        font-size: 20px;
        width: 160px;
        height: 68px;
        background-color: #000000;
    }
    .cv-img{
      padding-left: 10px;
    }
    .portfoilo-down span{
   
        padding-bottom: 200px;
        font-size: 29px;
        position: relative;
        
        color: #000000;
       bottom: 21px;
    }
    .list-title h1{
        padding-top: 25px;
        
    font-size: 24px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 1px;
    text-align: center;
    
    }
    .list{
        display: flex;
        justify-content: space-between;
        padding: 3rem 5rem;
       
        flex-direction: column;
    }
     li{
        list-style-type: square;
        margin-left: 25px;
        margin-top: 14px;
        font-weight: bold;
    
    }
    u,h3,p{
        margin-top: 20px;
    }
    p{
        color: #666666;
    }
    .side{
        padding-top: 50px;
    }
    .Projects{
         flex-direction: column;
        padding: 1rem 6rem;
       padding-top:150px ;
    
    
    }
    
    .Projects h2{
        
    font-size: 25px;
    width: 300px;
    height: 100px;
   
    letter-spacing: 1px;
    }
    
    .Projects .right-side{
        padding-top: 20px;
    
    }
    .project-cards{
        flex-direction: column;
        padding: 1rem 6rem;
       
    }
    .card-button {
       background: none;
        


     }
     .Blogs-section{
        
       margin-top: 40px;
     }

     .right-blog{
        position: relative;
        top: 250px;
        right: 150px;
        
     }
     .right-blog  p{
        color: #FFFFFF;
    
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        width: 489px;
       height: 72px;

     }
     .right-blog-two p{
       
        color: #FFFFFF;
    
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        width: 574px;
        height: 72px;
        
        
     }
     .right-blog-two{
        margin-left: -10px;
        margin-top: 550px;
     }
     .right-blog-three{
         margin-left: -10px;
        margin-top: 820px;
     }
     .right-blog-three p{
       
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        width: 307px;
height: 36px;


     }
     .Product-Designer{
        flex-direction: column;
     }
     .img-product{
        
        flex-direction: column;
     }
     .blogs{
        margin-top: -200px;
     }
     .right-blog-four{
        margin-left: -10px;
        margin-top: 1060px;
     }
     .right-blog-four p{
        
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        width: 325px;
height: 36px;
     }
     
     .right-blog-five{
        margin-left: -10px;
        margin-top: 1290px;
     }
     .right-blog-five p{
        
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
     }
     
}